{% assign awards = site.data.data.awards %}
{% if awards %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
    </span>
    {{ awards.title }}
  </h2>

  {% if awards.intro %}
  <div class="intro">
    {{ awards.intro | markdownify }}
  </div>
  {% endif %}

  {% for award in awards.papers %}
  <div class="item">
    {% if award.link %}
      <li><a href="{{ award.link }}" target="_blank">{{ award.title }}</a></li>
    {% else %}
      <li>{{ award.title }}</li>
    {% endif %}
    
    <div class="publication-conference">{{ award.conference }}</div>
  </div>
  {% endfor %}

</section>
{% endif %}
