<section class="section patents-section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
        </span>
        {{ site.data.data.patents.title }}
    </h2>

    <div class="intro">
        <p>{{ site.data.data.patents.intro }}</p>
    </div>

    {% for patent in site.data.data.patents.papers %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"><a href="{{ patent.link }}" target="_blank">{{ patent.title }}</a></h3>
            </div>
            <div class="company">{{ patent.conference }}</div>
        </div>
    </div>
    {% endfor %}
</section>
